<mat-drawer-container class="example-container">
    <mat-drawer #sideNav mode="side" opened="true" position="end" style="max-width: 20%">
        <p *ngIf="versionData?.length > 0"><b>Brand : </b>{{brand.brand}}</p>
        <p *ngIf="versionData?.length > 0"><b>Advertisement Media : </b>{{brand.advertisement_media}}</p>
        <table class="table table-bordered" *ngIf="versionData?.length > 0">
            <tr>
                <th>Value</th>
                <th>Date</th>
            </tr>
            <tr *ngFor="let version of versionData">
                <td>{{version.value}}</td>
                <td>{{version.timestamp}}</td>
            </tr>
        </table>
    </mat-drawer>
    <mat-drawer-content style="max-width: 80%">
        <div>

            <table class="table table-bordered">
                <tr>
                    <th>Category</th>
                    <th>Range Brand</th>
                    <th>Brand</th>
                    <th>TV</th>
                    <th>Print</th>
                    <th>Radio</th>
                    <th>Digital</th>
                    <th>OOH</th>
                    <th>BTL</th>
                    <th>Total</th>
                    <th>TV</th>
                    <th>Print</th>
                    <th>Radio</th>
                    <th>Digital</th>
                    <th>OOH</th>
                    <th>BTL</th>
                    <th>Total</th>
                </tr>
                <tr *ngFor="let dataValue of getData; let i=index">
                    <td *ngIf="(i + 1) == 0 || (i + 1) % 4 != 0">
                        {{dataValue.Category}}
                    </td>
                    <td *ngIf="(i +  1) != 0 && (i + 1) % 4 == 0" colspan="3">
                        Total
                    </td>

                    <td *ngIf="(i + 1) == 0 || (i + 1) % 4 != 0">
                        {{dataValue.Range_Brand}}

                    </td>
                    <td *ngIf="(i + 1) == 0 || (i + 1) % 4 != 0">
                        {{dataValue.Brand}}
                    </td>
                    <!--4th row-->
                    <td *ngIf="(i + 1) == 0 || (i + 1) % 4 != 0" (click)="getVersion(dataValue[0].TV.data_id)">
                        <inline-editor type="text" [(ngModel)]='dataValue[0].TV.value'
                                       (onSave)="saveEditable($event,dataValue[0].TV)" size="50"></inline-editor>
                    </td>
                    <td *ngIf="(i + 1) != 0 && (i + 1) % 4 == 0"
                        [innerHtml]="ConvertStringTotal(getData[0][0].TV.value,getData[1][0].TV.value,getData[2][0].TV.value)">
                    </td>

                    <td *ngIf="(i + 1) == 0 || (i + 1) % 4 != 0" (click)="getVersion(dataValue[1].Print.data_id)">
                        <inline-editor type="text" [(ngModel)]='dataValue[1].Print.value'
                                       (onSave)="saveEditable($event,dataValue[1].Print)" size="50"></inline-editor>
                    </td>
                    <td *ngIf="(i + 1) != 0 && (i + 1) % 4 == 0">
                        {{dataValue.Total[1].Print}}
                    </td>
                    <td *ngIf="(i + 1) == 0 || (i + 1) % 4 != 0" (click)="getVersion(dataValue[2].Radio.data_id)">
                        <inline-editor type="text" [(ngModel)]='dataValue[2].Radio.value'
                                       (onSave)="saveEditable($event,dataValue[2].Radio)" size="50"></inline-editor>
                    </td>
                    <td *ngIf="(i + 1) != 0 && (i + 1) % 4 == 0">
                        {{dataValue.Total[2].Radio}}
                    </td>
                    <td *ngIf="(i + 1) == 0 || (i + 1) % 4 != 0" (click)="getVersion(dataValue[3].Digital.data_id)">
                        <inline-editor type="text" [(ngModel)]='dataValue[3].Digital.value'
                                       (onSave)="saveEditable($event,dataValue[3].Digital)" size="50"></inline-editor>
                    </td>
                    <td *ngIf="(i + 1) != 0 && (i + 1) % 4 == 0">
                        {{dataValue.Total[3].Digital}}
                    </td>
                    <td *ngIf="(i + 1) == 0 || (i + 1) % 4 != 0" (click)="getVersion(dataValue[4].OOH.data_id)">
                        <inline-editor type="text" [(ngModel)]='dataValue[4].OOH.value'
                                       (onSave)="saveEditable($event,dataValue[4].OOH)" size="50"></inline-editor>
                    </td>
                    <td *ngIf="(i + 1) != 0 && (i + 1) % 4 == 0">
                        {{dataValue.Total[4].OOH}}
                    </td>
                    <td *ngIf="(i + 1) == 0 || (i + 1) % 4 != 0" (click)="getVersion(dataValue[5].BTL.data_id)">
                        <inline-editor type="text" [(ngModel)]='dataValue[5].BTL.value'
                                       (onSave)="saveEditable($event,dataValue[5].BTL)" size="50"></inline-editor>
                    </td>
                    <td *ngIf="(i + 1) != 0 && (i + 1) % 4 == 0">
                        {{dataValue.Total[5].BTL}}
                        <!--<inline-editor type="text"  [(ngModel)]='dataValue.Category' (onSave)="saveEditable($event)" size="50"></inline-editor>-->
                    </td>
                    <td *ngIf="(i + 1) == 0 || (i + 1) % 4 != 0"
                        [innerHtml]="ConvertString(dataValue[0].TV.value,dataValue[1].Print.value,dataValue[2].Radio.value,dataValue[3].Digital.value,dataValue[4].OOH.value,dataValue[5].BTL.value)">

                    </td>
                    <td *ngIf="(i + 1) != 0 && (i + 1) % 4 == 0">
                        {{dataValue.Total[6].Total}}

                    </td>
                    <td *ngIf="(i + 1) == 0 || (i + 1) % 4 != 0" (click)="getVersion(dataValue[7].TV.data_id)">
                        <inline-editor type="text" [(ngModel)]='dataValue[7].TV.value'
                                       (onSave)="saveEditable($event,dataValue[7].TV)" size="50"></inline-editor>
                    </td>
                    <td *ngIf="(i + 1) != 0 && (i + 1) % 4 == 0">
                        {{dataValue.Total[7].TV}}
                    </td>
                    <td *ngIf="(i + 1) == 0 || (i + 1) % 4 != 0">
                        <inline-editor type="text" [(ngModel)]='dataValue[8].Print.value'
                                       (click)="getVersion(dataValue[8].Print.data_id)"
                                       (onSave)="saveEditable($event,dataValue[8].Print)" size="50"></inline-editor>
                    </td>
                    <td *ngIf="(i + 1) != 0 && (i + 1) % 4 == 0">
                        {{dataValue.Total[8].Print}}
                    </td>
                    <td *ngIf="(i + 1) == 0 || (i + 1) % 4 != 0">
                        <inline-editor type="text" [(ngModel)]='dataValue[9].Radio.value'
                                       (click)="getVersion(dataValue[9].Radio.data_id)"
                                       (onSave)="saveEditable($event,dataValue[9].Radio)" size="50"></inline-editor>
                    </td>
                    <td *ngIf="(i + 1) != 0 && (i + 1) % 4 == 0">
                        {{dataValue.Total[9].Radio}}
                    </td>
                    <td *ngIf="(i + 1) == 0 || (i + 1) % 4 != 0">
                        <inline-editor type="text" [(ngModel)]='dataValue[10].Digital.value'
                                       (click)="getVersion(dataValue[10].Digital.data_id)"
                                       (onSave)="saveEditable($event,dataValue[10].Digital)" size="50"></inline-editor>
                    </td>
                    <td *ngIf="(i + 1) != 0 && (i + 1) % 4 == 0">
                        {{dataValue.Total[10].Digital}}
                    </td>

                    <td *ngIf="(i + 1) == 0 || (i + 1) % 4 != 0">
                        <inline-editor type="text" [(ngModel)]='dataValue[11].OOH.value'
                                       (click)="getVersion(dataValue[11].OOH.data_id)"
                                       (onSave)="saveEditable($event,dataValue[11].OOH)" size="50"></inline-editor>
                    </td>
                    <td *ngIf="(i + 1) != 0 && (i + 1) % 4 == 0">
                        {{dataValue.Total[11].OOH}}
                    </td>

                    <td *ngIf="(i + 1) == 0 || (i + 1) % 4 != 0">
                        <inline-editor type="text" [(ngModel)]='dataValue[12].BTL.value'
                                       (click)="getVersion(dataValue[12].BTL.data_id)"
                                       (onSave)="saveEditable($event,dataValue[12].BTL)" size="50"></inline-editor>
                    </td>
                    <td *ngIf="(i + 1) != 0 && (i + 1) % 4 == 0">
                        {{dataValue.Total[12].BTL}}
                    </td>

                    <td *ngIf="(i + 1) == 0 || (i + 1) % 4 != 0">
                        {{dataValue[13].Total.value}}
                    </td>
                    <td *ngIf="(i + 1) != 0 && (i + 1) % 4 == 0">
                        {{dataValue.Total[13].Total}}
                    </td>
                </tr>
            </table>
        </div>
    </mat-drawer-content>

</mat-drawer-container>




